* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 700;

  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #3700b3, #6200ee);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.grid-container {
  display: grid;
  justify-content: center;
  align-items: center;

  grid-template-columns: repeat(4, 6.25rem);
  grid-template-rows: minmax(7.5rem, auto) repeat(4, 6.25rem);
}

.grid-container > button {
  border: 1px solid #111;
  background-color: #111;

  color: #eee;
  font-size: 1.5rem;

  height: 100%;
  width: 100%;

  cursor: pointer;
  outline: none;
}

.grid-container > .operator {
  background-color: #a334d6;
  border-color: #a334d6;
}

.span-two {
  grid-column: span 2;
}

.grid-container > .output {
  grid-column: 1 / -1;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;

  background-color: #222;
  padding: 1rem;

  word-wrap: break-word;
  word-break: break-all;
}

.grid-container > .output > .previous-operand {
  color: #ffffffbf;
  font-size: 1.5rem;
}

.grid-container > .output > .current-operand {
  color: #fff;
  font-size: 2.5rem;
}
